// Section: about
section#about.home-section.text-center
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInDown(data-wow-delay='0.4s')
            .section-heading
              h2 About US
              h6 We’re an international team comprising filmmaker professionals, which would like to bring the shooting to your home.
              i.fa.fa-2x.fa-angle-down
  .container
    .row
      .col-lg-2.col-lg-offset-5
        hr.marginbot-50
    .row
      .col-xs-6.col-sm-3.col-md-3
        .wow.bounceInUp(data-wow-delay='0.2s')
          .team.boxed-grey
            .inner
              h5 Anna Hanaceck
              p.subtitle Wagenburg, Belgium
              .avatar
                img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
      .col-xs-6.col-sm-3.col-md-3
        .wow.bounceInUp(data-wow-delay='0.5s')
          .team.boxed-grey
            .inner
              h5 Maura Daniels
              p.subtitle Santa Monica, USA
              .avatar
                img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
      .col-xs-6.col-sm-3.col-md-3
        .wow.bounceInUp(data-wow-delay='0.8s')
          .team.boxed-grey
            .inner
              h5 Jack Briane
              p.subtitle Sidney, Australia
              .avatar
                img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
      .col-xs-6.col-sm-3.col-md-3
        .wow.bounceInUp(data-wow-delay='1s')
          .team.boxed-grey
            .inner
              h5 Tom Petterson
              p.subtitle Mali, Maldives
              .avatar
                img.img-responsive.img-circle(src='img/team/4.jpg', alt='')
// /Section: about