footer
  .container
    .row
      .col-md-12.col-lg-12
        .wow.shake(data-wow-delay='0.4s')
          .page-scroll.marginbot-30
            a#totop.btn.btn-circle(href='#intro')
              i.fa.fa-angle-double-up.animated
        p © Copyright 2015 - Inner Love. All rights reserved.