footer
  .container.text-center
    p.pull-left © 2015 Rodion Martynov, Sleepless Dev Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/rudym/uploadserv') GitHub Project
      li
        a(href='https://github.com/rudym/uploadserv/issues') Issues