nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
      a.navbar-brand(href='/')
        h1 INNER LOVE
    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#intro') Home
        li
          a(href='#service') Join
        li
          a(href='#movieprogress') Movie Progress
        li
          a(href='#bloopers') Fun
        li
          a(href='#photoblock') Week's Script
        li
          a(href='#contact') Subscribe
        li
          a(href='#about') About
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | My Account
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Login
            li
              a(href='#') Rates
            li
              a(href='#') Upload New Video
    // /.navbar-collapse
  // /.container
// /