// Section: intro
section#intro.intro
  .container
    .row
      .col-lg-4.col-lg-offset-4
        .LOGO
          img.img-responsive(src='img/IL-Logo-White.png', alt='')
  .slogan
    h2
      | WELCOME TO 
      span.text_color INNER LOVE
    h4 THE FIRST EVER MOVIE TO BE SHOT AND ACTED BY WEB USERS THEMSELVES
  .page-scroll
    a.btn.btn-circle(href='#service')
      i.fa.fa-angle-double-down.animated
// /Section: intro