block content
  // Section: intro
  section#intro.intro
    .slogan
      h2
        | WELCOME TO 
        span.text_color INNER LOVE
      h4 THE FIRST EVER MOVIE TO BE SHOT AND ACTED BY WEB USERS THEMSELVES
    .page-scroll
      a.btn.btn-circle(href='#subscribe')
        i.fa.fa-angle-double-down.animated
  // /Section: intro