// Section: services
section#service.home-section.text-center.bg-gray
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInDown(data-wow-delay='0.4s')
            .section-heading
              h2 How To Join
              i.fa.fa-2x.fa-angle-down
  .container
    .row
      .col-lg-2.col-lg-offset-5
        hr.marginbot-50
    .row
      .col-sm-3.col-md-3
        .wow.fadeInLeft(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-1.png', alt='')
            .service-desc
              h5 Create Account
              p
                | Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .wow.fadeInUp(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-2.png', alt='')
            .service-desc
              h5 Like Other Video
              p
                | Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .wow.fadeInUp(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-3.png', alt='')
            .service-desc
              h5 Make Your Video
              p
                | Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .wow.fadeInRight(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-4.png', alt='')
            .service-desc
              h5 Pay And Upload
              p
                | Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
// /Section: services