// Section: services
section#service.home-section.text-center.bg-gray
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInDown(data-wow-delay='0.4s')
            .section-heading
              h2 How To Join
              i.fa.fa-2x.fa-angle-down
  .container
    .row
      .col-lg-2.col-lg-offset-5
        hr.marginbot-50
    .row
      .col-sm-3.col-md-3
        .wow.fadeInLeft(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-1.png', alt='')
            .service-desc
              h5 Create Account
              p
                | Make your profile in a very easy way. Connect within a social network, or just with an e-mail. Select the subscription you want, or just stay with the current episode in action.
      .col-sm-3.col-md-3
        .wow.fadeInUp(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-2.png', alt='')
            .service-desc
              h5 Weekly Script
              p
                | Check out the current week's script! Every week there is a new scene to shoot. The script includes the props, camera angles and positions for each scene. You'd like to improvise? Terrific! But remember, your scene has to blend with the one before and the one after.
      .col-sm-3.col-md-3
        .wow.fadeInUp(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-3.png', alt='')
            .service-desc
              h5 Make Your Video
              p
                | Shoot the scene with your friends on a smartphone or video camera. Your take should not be longer than 2 minutes and follow the script.
      .col-sm-3.col-md-3
        .wow.fadeInRight(data-wow-delay='0.2s')
          .service-box
            .service-icon
              img(src='img/icons/service-icon-4.png', alt='')
            .service-desc
              h5 Upload
              p
                | Upload the file to the project site and win!
// /Section: services