form#subscribeBox.form-horizontal(action='subscribe', method='post')
  input(type='hidden', name='_csrf', value=_csrf)
  .row
    .col-md-6
      .form-group
        label.control-label.sr-only(for='email') Email Address
        .input-group
          span.input-group-addon @
          input#email.form-control(type='email', name='email', placeholder='Email', aria-describedby='emailStatus')                    
        span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
        span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden='true')
    .col-md-12
      p.result-block You have successfully subscribed.
      button#btnSubscribe.btn.btn-skin.pull-right(type='submit')
        | OK