block content
  // Section: subscribe
  section#subscribe.home-section.text-center
    .heading-about
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .wow.bounceInDown(data-wow-delay='0.4s')
              .section-heading
                h2 Subscribe to news
                |                                     
                i.fa.fa-2x.fa-angle-down
    |             
    #signupBox
      form#subscribeBox(action='subscribe', method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        #subscription
          input#address(type='text', name='email', placeholder='Enter your email address to subscribe')
          button#subscr.btn.btn-7.btn-7h.icon-envelope(type='submit', name='submit') Subscribe
      ol#socialButtons
        li
          a.twitter-share-button(href='http://twitter.com/share', data-url='http://www.campaignmonitor.com/', data-count='vertical', data-text='Subscribe to the Inner Love movie project newsletter', data-via='campaignmonitor') Tweet
        li
          iframe(src='https://www.facebook.com/plugins/like.php?app_id=240480779309856&href=http%3A%2F%2Fwww.comcine.com%2F&send=false&layout=box_count&width=55&show_faces=false&action=like&colorscheme=light&font&height=90', scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:55px; height:90px;', allowtransparency='true')
!= js('classie')
!= js('subscribe')
  // /Section: subscribe