// Section: video block
section#filmtodayblock.home-section.text-center.bg-gray
  .heading-about
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .wow.bounceInDown(data-wow-delay='0.4s')
            .section-heading
              h2 Film Today
              i.fa.fa-2x.fa-angle-down
  .container
    .row
      .container
        .row
          p
            a(href='https://www.youtube.com/embed/AZN_adSbyvo', frameborder='0') View Full Screen 
          hr
        // .row
      // ./container
      .container
        .row
          .col-md-12
            .vid
              iframe(width='560', height='315', src='https://www.youtube.com/embed/AZN_adSbyvo', frameborder='0', allowfullscreen='')
            // ./vid
          // .col
        // ./row
      // ./container
// /Section:  video block