extends layout

block content
  include partials/intro
  include partials/services
  include partials/video
  include partials/bloopers
  include partials/newweekscript
  include partials/contact
  include partials/about