doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Platform where movies are shot and acted by web users themselves')
    meta(name='author', content='Rodion Martynov')
    meta(name='csrf-token', content=_csrf)

    title #{title} - Inner Love Movie

    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet')
    // Squad theme CSS
    link(href='css/style.css', rel='stylesheet')
    link(href='color/default.css', rel='stylesheet')      

    link(href='js/video-js/video-js.css', rel='stylesheet')

  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    // Preloader
    #preloader
      #load 
    include partials/header
    include partials/flash

    block content

    include partials/footer
    
    != js('main.min')
