doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Inner Love Movie
    
    //!= css('main')
    // Bootstrap Core CSS
    //link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    //!= css('bootstrap')
    // Fonts
    //link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    //!= css('font-awesome/css/font-awesome')
    //link(href='css/animate.css', rel='stylesheet')
    // Squad theme CSS
    //link(href='css/style.css', rel='stylesheet')
    //link(href='color/default.css', rel='stylesheet')
    //!= js('lib/jquery-2.1.3.min')

    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/animate.css', rel='stylesheet')
    // Squad theme CSS
    link(href='css/style.css', rel='stylesheet')
    link(href='color/default.css', rel='stylesheet')      

    //link(href='js/video-js/video-js.css', rel='stylesheet')

    //Creative Button Styles BEGIN
    //link(rel='shortcut icon', href='../favicon.ico')
    //link(rel='stylesheet', type='text/css', href='css/default.css')
    //link(rel='stylesheet', type='text/css', href='css/component.css')
    //script(src='js/modernizr.custom.js')
    //Creative Button Styles END
    
    != js('application')

  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    // Preloader
    #preloader
      #load 
    include partials/navbar
    include partials/flash

    block content

    include partials/footer

    // Core JavaScript Files
    //script(src='js/jquery.min.js')
    //script(src='js/bootstrap.min.js')
    //script(src='js/jquery.easing.min.js')
    //script(src='js/jquery.scrollTo.js')
    //script(src='js/wow.min.js')
    // Custom Theme JavaScript
    //script(src='js/custom.js')
    