extends layout

block content
  .page-header
    h3 Script
  // Section: script
  form.form-horizontal
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='name') Script Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{script.name}')
    .form-group
      label.col-sm-2.control-label(for='text') Text
      .col-sm-4
        textarea.form-control(type='text', name='text', id='text') #{script.text}
  // /Section: script